#include "Env.h"

//Wi-Fi
const char *WIFI_SSID = "";
const char *WIFI_PASS = "";

//Api server
const char *SERVER_HOST = "";
const uint16_t SERVER_PORT = 80;
const char *VIRTUAL_HOST = "jarvise.local";
const char *API_GRID_ROUTE = "/api/v1/grid/readings";
const char *API_ROOM_ROUTE = "/api/v1/room/register";

//General interval
const unsigned long READ_INTERVAL = 1000;
const unsigned long END_INTERVAL = 10000;
